[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "~=2.7.1"
aws-sam-cli = "~=1.6.2"
awscli = "~=1.18.140"

[packages]
synapseclient = "~=2.1.0"
pyyaml = "~=5.3.1"

[requires]
python_version = "3.6"
